<?xml version="1.0"?>
<launch>
  <arg name="rviz" default="false" />
  <arg name="fast_lio_rviz" default="false" />
  <arg name="save_dir" default="$(env HOME)/ocl3d_imf_workdir/iusl_bag_2023_04_25_fastlio" />
  <arg name="load_weights" default="false" />
  <arg name="model_file_name" default="" />
  <arg name="fallback_label" default="" />
  <arg name="use_yolo" default="true" />
  <arg name="use_camera" default="true" />
  <arg name="person_unknown_only" default="true" />
  <arg name="replay_buffer_size_per_class" default="512" />
  <arg name="replay_samples_per_class" default="8" />
  <arg name="warmup_samples_per_class" default="30" />
  <arg name="warmup_max_callbacks" default="120" />

  <param name="/use_sim_time" type="bool" value="true" />

  <include file="$(find ocl3d_fast_lio_config)/../launch/fast_lio_iusl_bag.launch">
    <arg name="rviz" value="$(arg fast_lio_rviz)" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="body_to_velodyne_tf"
        args="0 0 0 0 0 0 body velodyne 100" />

  <include file="$(find ocl3d_fast_lio_config)/../launch/efficient_online_learning_iusl_bag.launch">
    <arg name="rviz" value="$(arg rviz)" />
    <arg name="save_dir" value="$(arg save_dir)" />
    <arg name="load_weights" value="$(arg load_weights)" />
    <arg name="model_file_name" value="$(arg model_file_name)" />
    <arg name="fallback_label" value="$(arg fallback_label)" />
    <arg name="use_yolo" value="$(arg use_yolo)" />
    <arg name="use_camera" value="$(arg use_camera)" />
    <arg name="person_unknown_only" value="$(arg person_unknown_only)" />
    <arg name="replay_buffer_size_per_class" value="$(arg replay_buffer_size_per_class)" />
    <arg name="replay_samples_per_class" value="$(arg replay_samples_per_class)" />
    <arg name="warmup_samples_per_class" value="$(arg warmup_samples_per_class)" />
    <arg name="warmup_max_callbacks" value="$(arg warmup_max_callbacks)" />
    <arg name="tracking_frame" value="camera_init" />
  </include>
</launch>
